.header {
    padding: 60px;
    text-align: center;
    background-image: url("backgroundimg2.png");
    color: white;
    font-size: 30px;
}

div.footer_div {
    background-image: url("backgroundimg2.png");
}

div#downloadsection {
    border: 2px solid black;
    border-radius: 5px;
    width: 640px;
    margin: auto;
    margin-bottom: 20px;
}

button.styledbutton {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    background-color: #2d405f;
    color: #ffffff;
    font-size: 20px;
}

body {
    text-align: center;
    font-size: 20px;
}

button#navButton {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 40px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

p.programtitle {
    font-size: 25px;
}
p.programdescription {
    font-size: 20px;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fas {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fab:hover {
    opacity: 0.7;
}
.fas:hover {
    opacity: 0.7;
}
  
/* Youtube */
.fa-youtube {
    background: rgba(201,13,16,1.00);
    color: white;
}
/* Twitch */
.fa-twitch {
    background: rgba(120,25,168,1.00);
    color: white;
}
/* Instagram */
.fa-instagram {
    background: rgba(209,45,145,1.00);
    color: white;
}
/* Twitter*/
.fa-twitter {
    background: rgba(0,100,255,1.00);
    color: white;
}
/* Discord*/
.fa-discord {
    background: rgba(42,104,213,1.00);
    color: white;
}
/* PayPal*/
.fa-paypal {
    background: rgba(54,57,185,1.00);
    color: white;
}
/* Bars*/
.fa-bars {
    background: rgb(0, 0, 0);
    color: white;
}